<%= link_to 'Back', username_url(:username => @username) %>
<form action="/<%= @username %>/send_comments" method="post">
  <div>
  <input type="email" placeholder="Your email address" name="from">
  </div>
  <div>
    <input type="text" placeholder="Yo subject" name="subject">
  </div>
  <div>
    <%= text_area_tag :body, nil, :placeholder => "Enter yo message"%>
  </div>
  <div>
    <%= submit_tag "Send yo email" %>
  </div>
</form>