<div id="feedback-form">
  <p>feedback?</p>
<form action="/send_comments" method="post">
 
  <input type="email" placeholder="your email address" name="from">
 
  <input type="text" placeholder="email subject" name="subject">

  <%= text_area_tag :body, nil, :placeholder => "anything you like"%>

  <%= submit_tag "send" %>
</form>
</div>