<div id="home-content">
<p>How compatible are your last.fm buds?</p>
<%= form_tag(search_path, :method => "get") do %>
  <%= text_field_tag :username, nil, :placeholder => 'last.fm username'%>
  <%= submit_tag("submit") %>
<% end %>
</div>

