<%#= link_to 'Back', username_url(:username => @username) %>
<div id="email-sent">
	We sent your comments regarding <q><%= @subject %></q> to Liv, the app maker. <br />
	<span>Thank you!</span>
</div>