// Place all the styles related to the earshare controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.chartbar {
    display: block;
    overflow: auto;
}

div.chartbar span {
    display: block;
    height: 17px;
    padding: 3px 0.5em 0 0.5em;
    color: #fff;
    overflow: hidden;
}

div.left span {
    background: #71b7e6;
    align: right;
    float: right;
    text-align: right;
    -moz-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
}

div.right span {
    background: red;
    align: left;
    float: left;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

