// Place all the styles related to the earshare controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #FFE503;
    border-top: 12px solid black;
    width: 100%;
    margin: 0;
    font-family: 'Averia Serif Libre';
}

#nav {
    padding: 30px;
    height: 40px;
    width: 90%;
    margin: 0 auto;
}

#logo h1 {
    padding: 0;
    width: 300px;
    margin: 0;
    float: left;
    line-height: 1;
    font-size: 36px;
    font-family: 'Fugaz One';
    /*text-transform: uppercase;*/
}

#nav a:hover {
    color: #00d9d1;
}

.nav-links {
    padding: 5px 0 5px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 150px;
    margin-left: 30px;
    margin-bottom: 0;
    float: right;
}

#main {
    width: 90%;
    margin: 0 auto;
    
}

#home-content, #invalid-search {
    overflow: auto;
    background-color: #F7F0E6; 
    text-align: center;
    padding-bottom: 140px;
}

#home-content p, #invalid-search p {
    color: #ED1B24;
    font-size: 6em;
    line-height: 1.25;
    font-family: 'Fugaz One';
    margin-bottom: 50px;
    padding: 0 50px 0 50px;
}

#invalid-search p {
    color: #031634;
}

#main input[type="submit"] {
    background-color: #00d9d1;
    border: none;
    padding: 5px;
    margin: 0;
    width: 100px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-family: 'Fugaz One'
 }

#join-lastfm a {
    background-color: #ED1B24;
    border: none;
    padding: 5px 12px 5px 12px;
    margin-left: 3px;
    width: 100px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-family: 'Fugaz One'
}

#username {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 0;
    background-color: gray;
    color: white;
    font-size: 16px;
    text-align: center;
    font-family: 'Fugaz One';
}

#user-info {
    padding: 30px;
    background-color: #F7F0E6;
    /*float: left;*/
    overflow: auto;
    font-family: 'Fugaz One';
}

#user-profile {
    color: #ED1B24;
    font-size: 4em;
    margin: auto;
    float: left;
    /*border-bottom: 5px solid black;*/
}


#top-five {
    padding-top: 20px;
    float: right;
}

#top-five ol {
    margin: auto;
    font-size: 20px;
    text-transform: uppercase;
}

#playcount {
    color: #ED1B24;
}

#ranked-by-playcount {
    color: black;
    font-size: 20px;
    text-transform: lowercase;
}

#friends-list {
    margin-top: 12px;
    padding-top: 50px;
    padding-bottom: 80px;
    float: left;
    width: 100%;
    background-color: #B8DCCE;
    text-align: center;
    font-family: 'Fugaz One';
}

#friends-list th {
    font-size: 4em;
    padding: 20px;
    text-decoration: underline;
}

#friends-list td {
    font-family: 'Fugaz One';
    text-transform: uppercase;
    /*font-family: 'Averia Serif Libre';*/
    font-size: 2em;
}

#friends-list a {
    color: black;
}

#friends-list a:hover {
    color: #ED1B24;
}
#compare-graph {
    padding: 30px;
    background-color: #F7F0E6; 
    overflow: auto;
}

#compare-graph th {
    font-family: 'Fugaz One';
    padding-bottom: 20px;
    font-size: 2em;
}

#compare-graph a:hover {
    color: #00d9d1;
}

#feedback-form {
    background-color: #F6F3EC;
    width: 40%;
    padding: 30px;
    margin: auto;
    line-height: 1;
    text-align: center;
    overflow: auto;
    font-family: 'Fugaz One';
}

#feedback-form p {
    color: #61690A;
    font-size: 5em;
    text-decoration: underline;
    margin-bottom: 50px;
}

#feedback-form input, textarea {
    width: 400px;
    height: 30px;
    padding: 5px;
    /*border-radius: 3px;*/
    border: 1px solid #61690A;
    margin: 5px;
    background-color: white;
    font-size: 18px;
    text-align: center;
    font-family: 'Averia Serif Libre';
}

#feedback-form textarea {
    height: 150px;
}

#feedback-form input[type="submit"] {
    background-color: #5F0019;
    margin-top: 10px;
    width: 130px;
    height: 60px;
    font-size: 1.5em;
    text-transform: uppercase;
}

#email-sent {
    background-color: #F6F3EC;
    width: 50%;
    padding: 40px;
    margin: auto;
    line-height: 1;
    text-align: center;
    overflow: auto;
    color: #61690A;
    font-size: 2em;
    font-family: 'Fugaz One';
}

#email-sent span {
    line-height: 2;
    font-size: 3em;
    color: #5F0019;
}
table {
    margin: auto;
}

div.chartbar {
    display: block;
    overflow: hidden;
    width: 300px;
}

div.chartbar span {
    display: block;
    height: 17px;
    /*padding: 3px 0.5em 0 0.5em;*/
    padding: 6px;
    color: #fff;
    overflow: hidden;
}

div.left span {
    background: #f90019;
    align: right;
    float: right;
    text-align: right;
    /*-moz-border-radius: 3px 0px 0px 3px;*/
    /*border-radius: 3px 0px 0px 3px;*/
}

div.right span {
    background: #00d9d1;
    align: left;
    float: left;
    /*-moz-border-radius: 0 3px 3px 0;*/
    /*border-radius: 0 3px 3px 0;*/
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}